@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/100.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/100.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/200.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/200.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/300.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/300.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/500.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/500.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/600.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/600.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/700.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/700.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/800.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/800.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/900.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/900.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/regular.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/regular.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/100italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/100italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/200italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/200italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/300italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/300italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/500italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/500italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/600italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/600italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/700italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/700italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/800italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/800italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
@font-face {
   font-family: 'Jost';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
<<<<<<< Updated upstream
   src: url('file:///D:/RainbowKidsPT.github.io/fonts/Jost/900italic.ttf') format('truetype');
=======
   src: url('file:///C:/Users/wongy/Documents/RainbowKidsPT.github.io/fonts/Jost/900italic.ttf') format('truetype');
>>>>>>> Stashed changes
}
